.edit, .edit-mode .edit {
   	background: url("/images/flex/edit-icon.png") 0 0 no-repeat;
   	height: 20px;
   	overflow: hidden;
   	width: 20px;
	position: absolute;
	z-index: 10000;
	margin-left: 5px;
}

.edit-mode .flexpage-edit-link,
.edit-mode .flexpage-edit-link{
	
}

.edit-mode .menu-edit-link{
	right: 6px;
	top: 2px;
}
.edit-mode .menu-edit-link:hover{
	background: url("/images/flex/edit-icon.png") 0 0 no-repeat;
}

.edit-mode .shop-global-edit-link{
	
}

.edit-mode .global-header-breadcrumb{
	margin-left: 15px;
}

.edit-mode #shop-app .grid12{
	position: relative;
}

.edit-mode h1{
	margin-left: 27px;
}


.edit-mode .shop-global-edit-link{
	margin-left: 0px !important;
}
