/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			Legacy 1.3.0
	Based on style: 	subSilver (the default phpBB 2.0.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Big Monstro ( http://www.win3x.org/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
html {
	font-size: 100%;
	height: 101%;
}

body {
	color: #333333;
	background-color: #FFFFFF;
	font-family: "Lucida Grande", Verdana, Geneva, sans-serif;
	font-size: 62.5%;
	margin: 0 25px;
	padding: 0;
}


/* Text
 --------------------- */
code, kbd, pre, samp {
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	margin: 0;
}

h1 {
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.8em;
	margin: 0;
}

h2 {
	font-size: 1.6em;
	margin: 0;
}

h3 {
	font-size: 1.3em;
	margin: 0;
}

h4, p {
	font-size: 1.1em;
	margin: 0;
}

ol, ul {
	margin: 0.8em 0 0.9em 3em;
	padding: 0;
}

.big {
	font-size: 1.2em;
	margin: 1px;
}

.bigger {
	font-size: 1.1em;
	margin: 1px;
}

.error, .forumrules {
	color: #FF0000;
}

.forumdesc {
	font-size: 1.1em;
	line-height: 1.4em;
}

.locked {
	color: #333333;
}

.navigation {
	font-weight: bold;
	line-height: 1.75em;
}

.offline {
	color: #B73636;
}

.online {
	color: #4FA343;
}

.postbody {
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.3em;
	line-height: 1.4em;
}

.posthilit {
	background-color: #FFFF00;
}

.rtl ol, .rtl ul {
	margin: 0.8em 3em 0.9em 0;
}

.small {
	font-size: 0.9em !important;
}


/* Tables
 ------------ */
table {
	font-size: 1em;
}

td {
	padding: 2px;
}

td.bg1, td.bg2, td.bg3, .pm-row td {
	padding: 4px;
}

.pm-row td {
	background-color: #FFFFFF;
	border-width: 4px;
}

td.cat {
	background-color: #C0C0C0;
	height: 28px;
	padding: 0 4px;
}

td.member {
	font-size: 1.1em;
	padding: 5px;
}

th {
	background-color: #000080;
	color: #FFFFFF;
	font-size: 1.1em;
	padding: 7px 5px;
}

th.category {
	padding: 7px 9px;
}

table.fixed {
	border-collapse: collapse;
	width: 100%;
	/* **/ table-layout: fixed;
	*width: auto; /** */
}

table.fixed td {
	overflow: hidden;
	padding: 0;
	word-wrap: break-word;
}

table.main {
	background-color: #C0C0C0;
}

table.message-box {
	table-layout: fixed\9;
	*table-layout: fixed;
}

table.message-box td {
	padding: 2px 6px 2px 0;
}

.rtl table.message-box td {
	padding: 2px 0 2px 6px;
}

table.profile {
	border-collapse: collapse;
}

table.profile td {
	padding: 0;
}

table.table1 {
	border-collapse: collapse;
	width: 100%;
}

table.table1 td, table.table1 th {
	border: 1px solid #C0C0C0;
	padding: 5px;
}


/* Links
 ------------ */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

a:link, a:visited {
	color: #006597;
	text-decoration: none;
}

a:hover {
	color: #D46400;
	text-decoration: underline;
}

a.forumtitle, a.header, a.topictitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

a.topictitle:visited {
	color: #808080;
}

a.postapprove {
	color: #008000 !important;
}

a.postreported {
	color: #FF0000 !important;
}

th a, th a:visited {
	color: #FFFFFF !important;
}


/* Fake buttons
 ------------ */
a.button {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	display: -moz-inline-box;
	display: inline-block;
	font-weight: bold;
	line-height: 1.4em;
	margin: 1px;
	padding: 1px 20px 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.action-bar a.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	padding: 3px 10px;
}

a.button:hover {
	border-color: #000080;
	text-decoration: none;
}


/* Form Elements
 ------------ */
button, fieldset, input, select, textarea {
	color: #333333;
	font-family: "Lucida Grande", Verdana, Geneva, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	margin: 0;
}

button, input.button1, input.button2 {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	cursor: pointer;
	padding: 1px 5px;
	*cursor: hand;
	*overflow: visible;
	*width: auto;
}

fieldset, form {
	border-width: 0;
	margin: 0;
	padding: 0;
}

input.button1 {
	font-weight: bold;
}

input.inputbox {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	padding: 1px 3px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: #808080;
}

.rtl option {
	padding: 0 0 0 1em;
}

select {
	background-color: #FFFFFF;
	border-color: #C0C0C0;
	border-width: 1px;
	padding: 1px;
}

textarea {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	line-height: 1.4em;
	font-size: 1.3em;
	overflow-y: auto;
	padding: 2px;
}

.message-box textarea {
	width: 100%;
	width: 230px\9;
	min-width: 100%\9;
	max-width: 100%\9;
	*width: 100%
}


/* BBCode
 ------------ */
blockquote, .codebox {
	background-color: #C0C0C0;
	border: 1px solid #C0C0C0;
	margin: 12px 5px;
}

.codecontent {
	background-color: #FFFFFF;
	overflow: auto;
	_width: 100%;
}

.codecontent pre {
	color: #008000;
	direction: ltr;
	font-size: 0.9em;
	line-height: normal;
	padding: 5px;
	word-wrap: normal;
	*min-height: 30px;
	_height: 40px;
	_heig\ht: 30px;
}

.codetitle, .quotetitle {
	color: #333333;
	font-size: 0.9em;
	font-weight: bold;
	min-height: 18px;
	padding: 2px 4px;
	_height: 22px;
	_heig\ht: 18px;
}

.quotecontent {
	background-color: #FFFFFF;
	color: #4B5C77;
	line-height: 1.4em;
	padding: 5px;
	_width: 100%;
	_width/**/: auto;
}

.quotetitle .cite {
	border-width: 0;
	font-weight: bold;
	padding: 0;
}

.quotetitle .date {
	border-width: 0;
	font-weight: normal;
	padding: 0;
	text-align: right;
}

.rtl .quotetitle .date {
	text-align: left;
}


/* Private messages
 --------------------- */
.pm-reported-colour {
	border-color: #800000;
}

.pm-marked-colour {
	border-color: #FF0000;
}

.pm-replied-colour {
	border-color: #C0C0C0;
}

.pm-friend-colour {
	border-color: #0000FF;
}

.pm-foe-colour {
	border-color: #000000;
}


/* Misc
 ------------ */
hr {
	background-color: #C0C0C0;
	border-width: 0;
	color: #C0C0C0;
	display: block;
	height: 1px;
	margin: 2px 0;
	*margin: -5px 0;
}

img {
	border-width: 0;
}

#notification_list, #quick_links_list, #topictools_list, #user_list {
	background-color: #FFFFFF;
	border-color: #808080;
	position: absolute;
}

#notification_scroll {
	border-color: #808080;
	border-style: solid;
	border-width: 1px 0;
}

#quick_links_list, #topictools_list, #user_list {
	line-height: 2.2em;
	padding: 0 4px;
	white-space: nowrap;
}

.bg1 {
	background-color: #FFFFFF;
}

.bg2 {
	background-color: #FFFFFF;
}

.bg3 {
	background-color: #C0C0C0;
}

.dropdown-enabled .hidden_links, .hasjs .noscript, .quicktools {
	display: none;
}

.dropdown-enabled .quicktools {
	display: inline;
}

.emoji {
	min-height: 18px;
	min-width: 18px;
	height: 1em;
	width: 1em;
}

.footer-row {
	font-size: 1em;
	line-height: 1.8em;
}

.notification {
	border-top: 1px solid #808080;
	line-height: 1.4em;
	padding: 4px;
	word-wrap: break-word;
}

.nowrap {
	white-space: nowrap;
}

.separator {
	border-bottom: 1px solid #C0C0C0;
}

.spacer {
	background-color: #FFFFFF;
	height: 4px;
	_overflow: hidden;
}

.username-coloured {
	font-weight: bold;
}